NODE_ENV=production
PORT=3000
API_URL=https://sua-aplicacao-producao.com

DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=gestordb
DATABASE_POLL_MODE=transaction

MAIL_HOST=smtp.prodmample.com
MAIL_PORT=587
MAIL_USER=produser@example.com
MAIL_PASS=prodpassword

JWT_SECRET=shrek

OPENCAGE_API_KEY=key
APP_NAME="Gestor do Povo - Desenvolvimento"
CORS_ORIGIN=""